
.radix-site-nav {
  background-color:#efefef;
  color: #000000;
}

.radix-site-header .title {
  font-family: Cabin Sketch;
  font-weight: bold;
}

.nav-dropdown .nav-dropbtn {
  color: #000000;
}

h1 {
  font-family: Cabin Sketch;
}

body {
  font-family: Neucha;
}

a {
  color: #666666;
}

a:hover{
  background-color: #efefef;
}

.radix-site-header a:hover{
  color: #666666;
}